[submodule "VOceanEngine/vender/spdlog"]
	path = VOceanEngine/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = glfw
	url = https://github.com/TheCherno/glfw
[submodule "VOceanEngine/vender/imgui"]
	path = VOceanEngine/vender/imgui
	url = https://github.com/TheCherno/imgui
[submodule "VOceanEngine/vender/glm"]
	path = VOceanEngine/vender/glm
	url = https://github.com/g-truc/glm
[submodule "VOceanEngine\\vender\\tinyobjloader"]
	path = VOceanEngine\\vender\\tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "VOceanEngine/vender/stb"]
	path = VOceanEngine/vender/stb
	url = https://github.com/nothings/stb
